# Entorno virtual
venv/

# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class

# Base de datos local
db.sqlite3

# Archivos de configuración de entorno
.env

# Archivos de Firebase
formcreator-87594-firebase-adminsdk-fbsvc-088b0a3684.json


