asgiref==3.10.0
Django==5.1.2
dnspython==2.8.0
mongoengine==0.29.1
pymongo==4.15.3
sqlparse==0.5.3
tzdata==2025.2
djangorestframework==3.16.1
django-extensions==4.1
django-cors-headers==4.3.0
firebase_admin==7.1.0
sib-api-v3-sdk==7.6.0
python-dotenv ==1.1.1